*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEA5A6;
}

/* Header------------------------------------------------------------------------------------------------------------------ */
header{
    position: sticky;
    top: 0px;
}

.contenedor-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F1E5D1;
    /* width: 100%; */
}

.barra-nav{
    display: flex;
    flex-direction: row;
    width: 1260px;
    justify-content: space-between;
}

.contenedor-header picture{
    display: flex;
}

.contenedor-header #buscador{
    display: flex;
}

.contenedor-header .contenedor-btn{
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    /* height: 114px;
    width: 610px; */
}

.contenedor-btn a{
    text-decoration: none;
}

#buscador{
   margin-top: 36px;
}

/*Detalles del Header------------------------------------------------------------------------------------------------------ */

.img-logo{
    width: 110px;
    height: 110px;
}

.img-carrito{
    width: 40px;
    height: 40px;
    margin-left: 40px;
}

.btn-header{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 30px;
    background-color: white;
    transition: all;
    transition-duration: 1s;
    transform: scale(1);
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-weight: bold;
}

.btn-header a{
    color: black;
}

.nav-barra{
    height: 40px;
    width: auto;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0px 10px 0px 20px;
}

.btn-header:hover{
    background-color: #EEA5A6;
    transition: all;
    transition-duration: 0.7s;
    transform: scale(0.95);
}

/* Banner------------------------------------------------------------------------------------------------------------------- */
article{
    display: block;
    justify-content: center;
    width: 100%;
}

.banner{
    display: flex;
    height: auto;
}

.banner-izq{
    display: flex;
    /* width: 50%; */
}

.banner-contenedor{
    display: flex;
    flex-direction: column;
}

.banner-der{
    display: flex;
}

.banner-izq, .banner-der{
    display: flex;
    flex-direction: row;
    
}

.contenedor-btn-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-btn-banner a{
    text-decoration: none;
}

.banner-btn{
    display: flex;
    flex-direction: row;
}

.banner-texto{
    display: flex;
}

.contenedor-btn-banner button{
    text-decoration: none;
    border: 0px;
}

.titulo-banner{
    display: flex;
}

.parrafo-banner{
    display: flex;
}


.banner-contenedor .parrafo-banner{
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.banner-contenedor .titulo-banner{
    justify-content: center;
}

h1{
    display: flex;
}

/* Detalles del banner------------------------------------------------------------------------------------------------------- */
article{
    background-color: #F1E5D1;
}

.banner-contenedor{
    justify-content: center;
}

.banner-texto{
    text-align: center;
    text-wrap: nowrap;
    padding-top: 15px;
}

.banner-btn{
    border: 1px solid black;
    border-radius: 1rem;
    margin: 40px;
    padding: 10px 10px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-size: 20px;
    font-weight: bold;
}

.banner-btn a{
    color: black;
    background-color: white;
    font-weight: bold;
}

.titulo-banner{
    font-size: 15px;
    font-family:"Pacifico", cursive;
}

.img-banner{
    width: 660px;
    height: 300px;
}

.banner-izq{
    padding-left: 10px;
}


/*Section-mision ------------------------------------------------------------------------------------------------------------ */

section{
    display: block;
    width: 100%;
}  

section .parrafo-mision{
    display: flex;
    height: 200px;
    background-color: #EEA5A6;
}

.parrafo-mision{
    align-items: center;
    text-align: center;
    justify-content: center;
}


/* Detalles Section-mision--------------------------------------------------------------------------------------------------- */

.parrafo-mision{
    margin-top: 30px;
    font-size: 25px;
    font-family:"Pacifico", cursive;
    padding: 40px 300px;
}   

/* Section-cards------------------------------------------------------------------------------------------------------------- */

section{
    display: block;
    width: 100%;
    height: 300px;
    background-color: #EEA5A6;
}

.contenedor-cards{
    display: flex;
    justify-content: center; 
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

/* Detalles Section-cards---------------------------------------------------------------------------------------------------- */
.cards{
    align-items: center;
    text-align: center;
    gap: 50px;
} 

.card1{
    background-color: #F1E5D1;
    border: 1px solid black;
    border-radius: 1rem;   
    padding: 20px 0px 20px 0px;
    width: 300px;
}

.card2{
    background-color: #F1E5D1;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 20px 0px 20px 0px;
    width: 300px;
}

.card3{
    background-color: #F1E5D1;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 20px 0px 20px 0px;
    width: 300px;
}

#icon-cards{
    height: 50px;
    width: 50px;
}

.cards p{
    margin: 0px;
}
/* Footer-------------------------------------------------------------------------------------------------------------------- */

footer{
    display: flexbox;
    width: 100%;  
}

.contenedor-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.contenedor-contactanos{
    display: flex;
    flex-direction: column;
}

.contenedor-redes{
    display: flex;
    flex-direction: column;
}

.titulo-contactanos{
    display: flex;
    align-items: center;
    text-align: center;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconos p{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulos-iconos{
    display: flex;
    flex-direction: column;
}

/* Detalles del Footer----------------------------------------------------------------------------------------------------- */

.contenedor-contactanos h2{
    font-size: 40px;
    font-family:"Pacifico", cursive;
}

.contenedor-redes h2{
    font-size: 40px;
    font-family:"Pacifico", cursive;
}

.tmñ-icn{
    height: 30px;
    width: 30px;
}

.iconos p{
    font-family:"Pacifico", cursive;
}

/* Copyright---------------------------------------------------------------------------------------------------------------- */
.text-copyright{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 12px;
}

/*@Media-------------------------------------------------------------------------------------------------------------------  */
@media (max-width:320px){
    header .contenedor-header{
        width: 1200px;   
        flex-wrap: nowrap;
        position: static;
    }

    .contenedor-btn img{
        position: relative;
        right: 20px;
    }

    .banner-article{
        width: 1200px;
    }

    article .banner{
        width: 1175px;
        height: 300px;
    }

    article .banner-izq{
        width: 50%
    }

    article .banner-der{
        width: 50%;
    }

    article .banner-der .img-banner{
        width: 600px;
        height: 300px;
    }

    article .banner .banner-izq .banner-contenedor h1{
      font-size: 18px;
    }

    .mision-section{
        width: 1200px;
    }

    .cards-section{
        width: 1200px;
    }

    .footer{
        width: 1200px;
    }
}

@media (max-width:480px){
    header .contenedor-header{
        width: 1200px;   
        flex-wrap: nowrap;
        position: static;
    }

    .contenedor-btn img{
        position: relative;
        right: 20px;
    }

    .banner-article{
        width: 1200px;
    }

    article .banner{
        width: 1175px;
        height: 300px;
    }

    article .banner-izq{
        width: 50%
    }

    article .banner-der{
        width: 50%;
    }

    article .banner-der .img-banner{
        width: 600px;
        height: 300px;
    }

    article .banner .banner-izq .banner-contenedor h1{
      font-size: 18px;
    }

    .mision-section{
        width: 1200px;
    }

    .cards-section{
        width: 1200px;
    }

    .footer{
        width: 1200px;
    }
}

@media (max-width:768px){
    header .contenedor-header{
        width: 1200px;   
        flex-wrap: nowrap;
        position: static;
    }

    .contenedor-btn img{
        position: relative;
        right: 20px;
    }

    .banner-article{
        width: 1200px;
    }

    article .banner{
        width: 1175px;
        height: 300px;
    }

    article .banner-izq{
        width: 50%
    }

    article .banner-der{
        width: 50%;
    }

    article .banner-der .img-banner{
        width: 600px;
        height: 300px;
    }

    article .banner .banner-izq .banner-contenedor h1{
      font-size: 18px;
    }

    .mision-section{
        width: 1200px;
    }

    .cards-section{
        width: 1200px;
    }

    .footer{
        width: 1200px;
    }
}

@media (max-width:1024px){
    header .contenedor-header{
        width: 1200px;   
        flex-wrap: nowrap;
        position: static;
    }

    .contenedor-btn img{
        position: relative;
        right: 20px;
    }

    .banner-article{
        width: 1200px;
    }

    article .banner{
        width: 1175px;
        height: 300px;
    }

    article .banner-izq{
        width: 50%
    }

    article .banner-der{
        width: 50%;
    }

    article .banner-der .img-banner{
        width: 600px;
        height: 300px;
    }

    article .banner .banner-izq .banner-contenedor h1{
      font-size: 18px;
    }

    .mision-section{
        width: 1200px;
    }

    .cards-section{
        width: 1200px;
    }

    .footer{
        width: 1200px;
    }
}
    
@media (max-width:1200px){
    header .contenedor-header{
        width: 1200px;   
        flex-wrap: nowrap;
        position: static;
    }

    .contenedor-btn img{
        position: relative;
        right: 20px;
    }

    .banner-article{
        width: 1200px;
    }

    article .banner{
        width: 1175px;
        height: 300px;
    }

    article .banner-izq{
        width: 50%
    }

    article .banner-der{
        width: 50%;
    }

    article .banner-der .img-banner{
        width: 600px;
        height: 300px;
    }

    article .banner .banner-izq .banner-contenedor h1{
      font-size: 18px;
    }

    .mision-section{
        width: 1200px;
    }

    .cards-section{
        width: 1200px;
    }

    .footer{
        width: 1200px;
    }
}














